@model UsuarioModel
@{
    ViewData["Title"] = "Confirmação de Apagar o Usuário";
}

<div class="text-center">
    <h3>Você tem certeza que deseja apagar o Usuário (@Model.Nome)?</h3>
</div>

<a class="btn btn-primary btn-block" asp-action="Index" asp-controller="Usuario"><i class="fa fa-reply"></i> Cancelar</a>
<a class="btn btn-danger btn-block" asp-action="Apagar" asp-route-id="@Model.Id" asp-controller="Usuario"><i class="fa fa-times"></i> Confirmar</a>